.menulateral2{
    width: 0px;
    height: 55vh;
    background-color: rgb(247, 236, 236);
    padding: 0px;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: .2s;
}

.menulateral2:hover {
    width: 284px;
    
}

.hamburguerButton:hover +.menulateral2{
    width: 284px;
} 

.hamburguerButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

ul{
    list-style-type: none;
}